.footer {
	margin: 0 auto;
	padding-top: 10px;
	color: #666666;
	width: 80%;
	border-top: 6px solid #666666;
	border-width: 1px;
}

.footer-container{
    display:flex;
    justify-content: space-between
}
