.footer {
  margin: 0 auto;
  padding: 20px 0;
  color: #666666;
  width: 80%;
  border-top: 6px solid #e7e7e7;
  border-width: 1px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
