#commentHeading {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #262626;
}

.ui.comments .reply.form textarea {
  background: #fbfbfb;
  border: none;
}
#commentBox {
  background: #fcfcfc;
  padding: 5px;
  color: #262626;
}

.ui.primary.button {
  background: #2fb5ee;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  padding: 7px 25px;

  color: #ffffff;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
  border-radius: 50%;
}

.ui.comments .comment a.author {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #262626;
  margin-left: 1.3em;
}

.ui.comments .comment .metadata {
  float: right;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;

  color: #262626;
}

#authorDetails {
  margin: 2em 0;
}

#commentText {
  border-top: rgba(10, 10, 10, 0.7) 1px solid;
  background: rgba(10, 10, 10, 0.7);
  padding-top: 20px;
}
.ui.comments .reply.form textarea {
  background: rgba(10, 10, 10, 0.1);
}

@media only screen and (max-width: 768px) {
  .commentInputBox {
    width: 100%;
    line-height: 12px !important;
  }
}
