.email-confirmation-container {
  margin-top: 21px;
}

section {
  margin: 4em 0 !important;
}

#articleContent {
  text-align: justify;
  width: 100%;
}

#articleContent * img {
  margin: 0px auto;
  width: 100 !important;
  display: block !important;
  height: auto !important;
}

#tags > button {
  background-color: #efefef;
  color: #262626;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 2px;
}

#socialIcons {
  text-align: right;
  float: right;
}

#pageLoader {
  height: 10em;
}

.pointer {
  cursor: pointer;
  color: #2fb5ee;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  #articleContent {
    text-align: justify;
    margin: -3.2em auto !important;
    padding: 0px;
  }
  #articleContent * h1 {
    font-size: 2.5em !important;
  }
  #articleContent * img {
    margin: 0px auto;
    width: 95% !important;
    display: block !important;
    height: auto !important;
  }

  #tags {
    padding: 0px 1em;
  }

  #socialIcons {
    float: left;
  }
}
