.align-center {
  text-align: center;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto;
}

.reset-password-container {
  max-width: 600px;
  margin: 0 auto;
}

.reset-form-container {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
}
