#tag-card-button {
  background-color: #f3f3f3;
  box-shadow: 0px 1px 3px rgba(223, 223, 223, 0.81);
  border-radius: 2px;
  width: 140px;
  cursor: pointer;
  margin: 10px;
}

.tags {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
