#socialIcons {
  float: right;
}
.bookmark.outline.icon {
  margin: 0 0 0 2em;
  color: 2px solid #2fb5ee;
}

@media only screen and (max-width: 768px) {
  #socialIcons {
    margin-top: -3.4em;
    float: right;
  }

  .bookmark.outline.icon {
    margin: 0;
  }
}
