.ui.card.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 100%;
  width: 500;
}

.ui.card.horizontal > .image {
  border-radius: 0;
  width: 150px;
}

.ui.card.horizontal > .image > img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.card-link {
  color: #2d2d2d !important;
  background: transparent;
}

.description {
  padding-bottom: 10px;
}

.card .card-bg {
  background: #fbfbfb !important;
  border-top: 0px !important;
}

.card-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
}
.card-img-horizontal {
  max-width: 200px;
  min-height: auto;
}
