$break-small: 600px;

.notification-box {
    position: absolute;
    z-index: 5;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25em;
    transition: all .2s linear;
    padding: 10px !important;
    top: 35px;
    right: 5px;
    background: #fcfcfc;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;

    @media screen and (max-width: $break-small) {
        width: 80%;
        top: 15px;
        right: 10px;
    }
}

.notification-box ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.notification-box::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.notification-box::-webkit-scrollbar-thumb {
    background-color: #2FB4EE;
    background-image: -webkit-linear-gradient(90deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
